{% extends "skeleton/base.html" %}

{% block content %}
<hr>
<div class="d-sm-flex justify-content-left align-items-top mb-4">
    <i class="fa fa-fw fa-users mt-2 mb-3 mr-3"></i><div>
        <h3 class="text-dark mb-2">Recursos Humanos</h3>
        <p class="mb-0">El departamento de <strong>Recursos Humanos</strong> es aquel encargado del aspecto humano del empresa, es decir, de su personal y el rendimiento del mismo.</p>   
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-xl-3 mb-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="text-primary font-weight-bold m-0"><i class="fas fa-fw fa-lightbulb mr-2"></i>Empleados</h6>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <p class="mb-0">Un <strong>empleado</strong> es un individudo perteneciente al personal de la empresa</p>
                </li>
                <li class="list-group-item">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <h6 class="mb-0"><strong><a href="/empleados/add">Añadir empleado</a></strong></h6><span class="text-xs"></span>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-fw fa-plus"></i>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <h6 class="mb-0"><strong><a href="/empleados">Listado de empleados</a></strong></h6><span class="text-xs"></span>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-fw fa-list"></i>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <h6 class="mb-0"><strong>Ver empleado</strong> (detalles)</h6><span class="text-xs">Vaya al <a href="/empleados">listado</a> y pulse en <i class="fa fa-fw fa-search"></i> en el empleado que desee ver</span>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-fw fa-search"></i>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <h6 class="mb-0"><strong>Editar empleado</strong></h6><span class="text-xs">Vaya al <a href="/empleados">listado</a> y pulse en <i class="fa fa-fw fa-pencil"></i> en el empleado cuyos datos desee editar</span>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-fw fa-pencil"></i>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <h6 class="mb-0"><strong>Dar de baja empleado</strong></h6><span class="text-xs">Vaya al <a href="/empleados">listado</a> y pulse en <i class="fa fa-fw fa-trash"></i> en el proyecto que desee dar de baja</span>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-fw fa-trash"></i>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-6 col-xl-3 mb-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="text-primary font-weight-bold m-0"><i class="fas fa-fw fa-pills mr-2"></i>Evaluaciones</h6>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <p class="mb-0">Una <strong>evaluación</strong> es el resultado de un análisis de rendimiento de un empleado.</p>
                </li>
                <li class="list-group-item">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <h6 class="mb-0"><strong><a href="/evaluaciones/add">Crear evaluación</a></strong></h6><span class="text-xs"></span>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-fw fa-plus"></i>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <h6 class="mb-0"><strong><a href="/evaluaciones">Listado de evaluaciones</a></strong></h6><span class="text-xs"></span>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-fw fa-list"></i>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <h6 class="mb-0"><strong>Ver evaluaciones</strong> (detalles)</h6><span class="text-xs">Vaya al <a href="/evaluaciones">listado</a> y pulse en <i class="fa fa-fw fa-search"></i> la evaluación que desee ver</span>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-fw fa-search"></i>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <h6 class="mb-0"><strong>Editar evaluación</strong></h6><span class="text-xs">Vaya al <a href="/evaluaciones">listado</a> y pulse en <i class="fa fa-fw fa-pencil"></i> la evaluación que desee editar</span>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-fw fa-pencil"></i>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<hr>
<div class="d-sm-flex justify-content-left align-items-top mb-4">
    <i class="fas fa-fw fa-prescription-bottle-alt mt-2 mb-3 mr-3"></i><div>
        <h3 class="text-dark mb-2">I+D y Producción</h3>
        <p class="mb-0">El departamento de <strong>I+D (Investigación y Desarrollo) y Producción</strong> se encarga de mantener un seguimiento del proceso de creación de los productos de la empresa, así como de los procesos necesarios para su fabricación.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-xl-3 mb-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="text-primary font-weight-bold m-0"><i class="fas fa-fw fa-lightbulb mr-2"></i>Proyectos</h6>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <p class="mb-0">Un <strong>proyecto</strong> es una vía de investigación para la producción de un fármaco.</p>
                </li>
                <li class="list-group-item">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <h6 class="mb-0"><strong><a href="/proyectos/add">Crear proyecto</a></strong></h6><span class="text-xs"></span>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-fw fa-plus"></i>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <h6 class="mb-0"><strong><a href="/proyectos">Listado de proyectos</a></strong></h6><span class="text-xs"></span>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-fw fa-list"></i>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <h6 class="mb-0"><strong>Ver proyecto</strong> (detalles)</h6><span class="text-xs">Vaya al <a href="/proyectos">listado</a> y pulse en <i class="fa fa-fw fa-search"></i> en el proyecto que desee ver</span>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-fw fa-search"></i>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <h6 class="mb-0"><strong>Editar proyecto</strong></h6><span class="text-xs">Vaya al <a href="/proyectos">listado</a> y pulse en <i class="fa fa-fw fa-pencil"></i> en el proyecto que desee editar</span>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-fw fa-pencil"></i>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <h6 class="mb-0"><strong>Eliminar proyecto</strong></h6><span class="text-xs">Vaya al <a href="/proyectos">listado</a> y pulse en <i class="fa fa-fw fa-trash"></i> en el proyecto que desee eliminar</span>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-fw fa-trash"></i>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-6 col-xl-3 mb-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="text-primary font-weight-bold m-0"><i class="fas fa-fw fa-pills mr-2"></i>Productos</h6>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <p class="mb-0">Un <strong>producto</strong> es el resultado final de un proyecto de investigación, y el principal activo de nuestra empresa.</p>
                </li>
                <li class="list-group-item">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <h6 class="mb-0"><strong><a href="/productos/add">Crear producto</a></strong></h6><span class="text-xs"></span>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-fw fa-plus"></i>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <h6 class="mb-0"><strong><a href="/productos">Listado de productos</a></strong></h6><span class="text-xs"></span>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-fw fa-list"></i>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <h6 class="mb-0"><strong>Ver producto</strong> (detalles)</h6><span class="text-xs">Vaya al <a href="/productos">listado</a> y pulse en <i class="fa fa-fw fa-search"></i> el producto que desee ver</span>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-fw fa-search"></i>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <h6 class="mb-0"><strong>Editar producto</strong></h6><span class="text-xs">Vaya al <a href="/productos">listado</a> y pulse en <i class="fa fa-fw fa-pencil"></i> el producto que desee editar</span>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-fw fa-pencil"></i>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <h6 class="mb-0"><strong>Eliminar producto</strong></h6><span class="text-xs">Vaya al <a href="/productos">listado</a> y pulse en <i class="fa fa-fw fa-trash"></i> el producto que desee eliminar</span>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-fw fa-trash"></i>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-6 col-xl-3 mb-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="text-primary font-weight-bold m-0"><i class="fas fa-fw fa-dolly-flatbed mr-2"></i>Procesos Productivos</h6>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <p class="mb-0">Un <strong>proceso productivo</strong> es un proceso necesario para la fabricación de un producto.</p>
                </li>
                <li class="list-group-item">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <h6 class="mb-0"><strong><a href="/procesos-productivos/add">Crear proceso productivo</a></strong></h6><span class="text-xs"></span>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-fw fa-plus"></i>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <h6 class="mb-0"><strong><a href="/procesos-productivos">Listado de procesos productivos</a></strong></h6><span class="text-xs"></span>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-fw fa-list"></i>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <h6 class="mb-0"><strong>Ver proceso productivo</strong> (detalles)</h6><span class="text-xs">Vaya al <a href="/procesos-productivos">listado</a> y pulse en <i class="fa fa-fw fa-search"></i> en el proceso productivo que desee ver</span>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-fw fa-search"></i>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <h6 class="mb-0"><strong>Editar proceso productivo</strong></h6><span class="text-xs">Vaya al <a href="/procesos-productivos">listado</a> y pulse en <i class="fa fa-fw fa-pencil"></i> en el proceso productivo que desee editar</span>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-fw fa-pencil"></i>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <h6 class="mb-0"><strong>Eliminar proceso productivo</strong></h6><span class="text-xs">Vaya al <a href="/procesos-productivos">listado</a> y pulse en <i class="fa fa-fw fa-trash"></i> en el proceso productivo que desee eliminar</span>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-fw fa-trash"></i>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<hr>
<div class="d-sm-flex justify-content-left align-items-top mb-4">
    <i class="fas fa-fw fa-prescription-bottle-alt mt-2 mb-3 mr-3"></i><div>
        <h3 class="text-dark mb-2">Almacén y Logística</h3>
        <p class="mb-0">El departamento de <strong>Almacén y Logística</strong> se encarga de mantener un registro de las materias primas que llegan y salen al almacén, así como de los lotes de productos que vienen de la fábrica y se entregan a los clientes.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-xl-3 mb-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="text-primary font-weight-bold m-0"><i class="fas fa-fw fa-lightbulb mr-2"></i>Materias primas</h6>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <p class="mb-0">Una <strong>materia prima</strong> es una materia que se utiliza para la producción de un fármaco.</p>
                </li>
                <li class="list-group-item">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <h6 class="mb-0"><strong><a href="/materiasprimas/add">Crear materia prima</a></strong></h6><span class="text-xs"></span>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-fw fa-plus"></i>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <h6 class="mb-0"><strong><a href="/materiasprimas">Listado de materias primas</a></strong></h6><span class="text-xs"></span>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-fw fa-list"></i>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <h6 class="mb-0"><strong>Ver materia prima</strong> (detalles)</h6><span class="text-xs">Vaya al <a href="/materiasprimas">listado</a> y pulse en <i class="fa fa-fw fa-search"></i> en la materia prima que desee ver</span>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-fw fa-search"></i>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <h6 class="mb-0"><strong>Editar materia prima</strong></h6><span class="text-xs">Vaya al <a href="/materiasprimas">listado</a> y pulse en <i class="fa fa-fw fa-pencil"></i> en la materia prima que desee editar</span>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-fw fa-pencil"></i>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-6 col-xl-3 mb-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="text-primary font-weight-bold m-0"><i class="fas fa-fw fa-pills mr-2"></i>Mercancías</h6>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <p class="mb-0">Una <strong>mercancía</strong> es un registro del añadido o retirada de una cantidad de materia prima.</p>
                </li>
                <li class="list-group-item">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <h6 class="mb-0"><strong><a href="/mercancias/add">Añadir mercancía</a></strong></h6><span class="text-xs"></span>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-fw fa-plus"></i>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <h6 class="mb-0"><strong><a href="/ mercancias">Listado de mercancías</a></strong></h6><span class="text-xs"></span>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-fw fa-list"></i>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <h6 class="mb-0"><strong>Ver mercancía</strong> (detalles)</h6><span class="text-xs">Vaya al <a href="/mercancias">listado</a> y pulse en <i class="fa fa-fw fa-search"></i> la mercancía que desee ver</span>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-fw fa-search"></i>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-6 col-xl-3 mb-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="text-primary font-weight-bold m-0"><i class="fas fa-fw fa-dolly-flatbed mr-2"></i>Lotes</h6>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <p class="mb-0">Un <strong>lote de productos</strong> es un paquete con grandes cantidades de un producto, ya preparado para enviar al cliente.</p>
                </li>
                <li class="list-group-item">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <h6 class="mb-0"><strong><a href="/lotes/add">Crear lote</a></strong></h6><span class="text-xs"></span>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-fw fa-plus"></i>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <h6 class="mb-0"><strong><a href="/lotes">Listado de lotes</a></strong></h6><span class="text-xs"></span>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-fw fa-list"></i>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <h6 class="mb-0"><strong>Ver lotes</strong> (detalles)</h6><span class="text-xs">Vaya al <a href="/lotes">listado</a> y pulse en <i class="fa fa-fw fa-search"></i> en el lote que desee ver</span>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-fw fa-search"></i>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <h6 class="mb-0"><strong>Editar lote</strong></h6><span class="text-xs">Vaya al <a href="/lotes">listado</a> y pulse en <i class="fa fa-fw fa-pencil"></i> en el lote que desee editar</span>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-fw fa-pencil"></i>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <h6 class="mb-0"><strong>Eliminar lote</strong></h6><span class="text-xs">Vaya al <a href="/lotes">listado</a> y pulse en <i class="fa fa-fw fa-trash"></i> en el lote que desee eliminar</span>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-fw fa-trash"></i>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<hr>
<div class="d-sm-flex justify-content-left align-items-top mb-4">
    <i class="fas fa-fw fa-table mt-2 mb-3 mr-3"></i><div>
        <h3 class="text-dark mb-2">Contabilidad</h3>
        <p class="mb-0">El departamento de <strong>Contabilidad</strong> es [...]</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-xl-3 mb-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="text-primary font-weight-bold m-0"><i class="fas fa-fw fa-lightbulb mr-2"></i>Facturas</h6>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <p class="mb-0">Una <strong>factura</strong> es el registro de una transacción de compra de una mercancía.</p>
                </li>
                <li class="list-group-item">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <h6 class="mb-0"><strong><a href="/facturas/add">Crear factura</a></strong></h6><span class="text-xs"></span>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-fw fa-plus"></i>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <h6 class="mb-0"><strong><a href="/facturas">Listado de facturas</a></strong></h6><span class="text-xs"></span>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-fw fa-list"></i>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-6 col-xl-3 mb-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="text-primary font-weight-bold m-0"><i class="fas fa-fw fa-pills mr-2"></i>Recibos</h6>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <p class="mb-0">Un <strong>rebibo</strong> es el registro de una transacción de venta de un lote.</p>
                </li>
                <li class="list-group-item">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <h6 class="mb-0"><strong><a href="/recibos/add">Crear recibo</a></strong></h6><span class="text-xs"></span>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-fw fa-plus"></i>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <h6 class="mb-0"><strong><a href="/recibos">Listado de recibos</a></strong></h6><span class="text-xs"></span>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-fw fa-list"></i>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-6 col-xl-3 mb-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="text-primary font-weight-bold m-0"><i class="fas fa-fw fa-dolly-flatbed mr-2"></i>Nóminas</h6>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <p class="mb-0">Una <strong>nómina</strong> es un ingreso de dinero realizado por un mes de trabajo del empleado.</p>
                </li>
                <li class="list-group-item">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <h6 class="mb-0"><strong><a href="/nominas/add">Crear nómina</a></strong></h6><span class="text-xs"></span>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-fw fa-plus"></i>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <h6 class="mb-0"><strong><a href="/nominas">Listado de nóminas</a></strong></h6><span class="text-xs"></span>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-fw fa-list"></i>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <h6 class="mb-0"><strong>Ver nómina</strong> (detalles)</h6><span class="text-xs">Vaya al <a href="/nominas">listado</a> y pulse en <i class="fa fa-fw fa-search"></i> en la nómina que desee ver</span>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-fw fa-search"></i>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <h6 class="mb-0"><strong>Editar nómina</strong></h6><span class="text-xs">Vaya al <a href="/nominas">listado</a> y pulse en <i class="fa fa-fw fa-pencil"></i> en la nómina que desee editar</span>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-fw fa-pencil"></i>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-6 col-xl-3 mb-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="text-primary font-weight-bold m-0"><i class="fas fa-fw fa-pills mr-2"></i>Balance de cuentas</h6>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <p class="mb-0">Un <strong>balance de cuentas</strong> es el registro de las variaciones en el capital de la empresa producidas por las operaciones de compra, venta o ingreso de nóminas.</p>
                </li>
                <li class="list-group-item">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <h6 class="mb-0"><strong><a href="/balancesCuentas">Listado de balances</a></strong></h6><span class="text-xs"></span>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-fw fa-list"></i>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<hr>
{% endblock %}
