{% extends "skeleton/form.html" %}

{% block form %}
<form action="{% if data.edit %}/api/lotes/edit/{{ data.edit_data.id }}{% else %}/api/lotes/add{% endif %}" id="form" method="post" class="needs-validation" novalidate>
    <div class="form-row mb-3">
        <div class="col">
            <label for="idproducto"><strong>ID del producto</strong></label>
            <input class="form-control" type="text" {% if data.edit %}value="{{ data.edit_data.idproducto }}"{% endif %}
                placeholder="ID del producto" id="idproducto" name="idproducto" >
        </div>
    </div>
    <div class="form-row mb-3">
        <div class="col">
            <label for="fechaProd"><strong>Fecha de producción</strong></label>
            <input class="form-control" type="date" {% if data.edit %}value="{{ data.edit_data.fechaProd }}"{% endif %}
                placeholder="Fecha de producción del lote" id="fechaProd" name="fechaProd">
        </div>
        <div class="col">
            <label for="fechaCad"><strong>Fecha de caducidad</strong></label>
            <input class="form-control" type="date" {% if data.edit %}value="{{ data.edit_data.fechaCad }}"{% endif %}
                placeholder="Fecha de caducidad" id="fechaCad" name="fechaCad">
        </div>
    </div>
     <div class="form-row mb-3">
        <div class="col">
            <label for="cantidad"><strong>Cantidad</strong></label>
            <input class="form-control" type="number" {% if data.edit %}value="{{ data.edit_data.idproducto }}"{% endif %}
                placeholder="Cantidad de la materia prima" id="cantidad" name="cantidad" >
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <button type="submit" id="form-submit" class="btn btn-primary btn-sm">{% if data.edit %}Actualizar{% else %}Crear{% endif %} lote</button>
        </div>
    </div>
</form>
{% endblock %}
