{% extends "skeleton/detail.html" %}

{% block detail %}
<table class="table mb-0">
    <tbody>
        <tr>
            <th scope="row">ID del lote</th>
            <td>{{ data.lote.id }}</td>
        </tr>
        <tr>
            <th scope="row">ID del producto asociado</th>
            <td>{{ data.lote.idproducto }}</td>
        </tr>
        <tr>
            <th scope="row">Fecha de producción</th>
            <td>{{ data.lote.fechaProd }}</td>
        </tr>
        <tr>
            <th scope="row">Fecha de caducidad</th>
            <td>{{ data.lote.fechaCad }}</td>
        </tr>
        <tr>
            <th scope="row">Cantidad</th>
            <td>{{ data.lote.cantidad }}</td>
        </tr>
        <tr>
            <th scope="row">Estado del lote</th>
            <td>{{ data.lote.estado.verbose}}</td>
        </tr>
    </tbody>
</table>

{% endblock %}
