{% extends "skeleton/list.html" %}

{% block table %}
<table class="table mb-0" id="dataTable">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for lote in data.lotes %}
        <tr>
            <td>{{ lote.id }}</td>
            <td>{{ lote.nombre }}</td>
            <td align="right">
                <a href="/lotes/{{ lote.id }}"><i class="fa fa-fw fa-search mr-2"></i></a>
                <a href="/lotes/{{ lote.id }}/edit"><i class="fa fa-fw fa-pencil mr-2"></i></a>
                <a href="#" onclick="deleteItem('lotes', '{{ lote.id }}')"><i class="fa fa-fw fa-trash"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td><strong>ID</strong></td>
            <td><strong>Nombre</strong></td>
            <td></td>
        </tr>
    </tfoot>
</table>
{% endblock %}
