{% extends "skeleton/form.html" %}

{% block form %}
<form action="{% if data.edit %}/api/productos/edit/{{ data.edit_data.id }}{% else %}/api/productos/add{% endif %}" id="form" method="post" class="needs-validation" novalidate>
    <div class="form-row mb-3">
        <div class="col">
            <label for="id"><strong>ID</strong></label>
            <input class="form-control" type="text" {% if data.edit %}value="{{ data.edit_data.id }}"{% endif %}
                placeholder="ID del producto" id="id" name="id" {% if data.edit %}disabled{% endif %}>
        </div>
        <div class="col">
            <label for="nombre"><strong>Nombre</strong></label>
            <input class="form-control" type="text" {% if data.edit %}value="{{ data.edit_data.nombre }}"{% endif %}
                placeholder="Nombre del producto" id="nombre" name="nombre">
        </div>
    </div>
    <div class="form-row mb-3">
        <div class="col">
            <label for="descripcion"><strong>Descripción</strong></label>
            <input class="form-control" type="text" {% if data.edit %}value="{{ data.edit_data.descripcion }}"{% endif %}
                placeholder="Descripción del producto" id="descripcion" name="descripcion">
        </div>
    </div>
    <div class="form-row mb-3">
        <div class="col">
            <label for="cod_distribucion"><strong>Código de Distribución</strong></label>
            <input class="form-control" type="text" {% if data.edit %}value="{{ data.edit_data.cod_distribucion }}"{% endif %}
                placeholder="Código de Distribución" id="cod_distribucion" name="cod_distribucion">
        </div>
        <div class="col">
            <label for="estado"><strong>Precio de Venta</strong> (€)</label>
            <input class="form-control" type="number" step="0.01" value="{% if data.edit %}{{ data.edit_data.precio_venta }}{% else %}0.00{% endif %}"
                placeholder="0.00" id="precio_venta" name="precio_venta">
        </div>
    </div>
    <div class="form-row mb-3">
        <div class="col">
            <label for="origen"><strong>Proyecto Origen</strong></label>
            <input class="form-control" type="text" {% if data.edit %}value="{{ data.edit_data.origen }}"{% endif %}
                placeholder="ID de proyecto origen" id="origen" name="origen" {% if data.edit %}disabled{% endif %}>
        </div>
        <div class="col"></div>
    </div>
    <div class="form-row">
        <div class="col">
            <button type="submit" id="form-submit" class="btn btn-primary btn-sm">{% if data.edit %}Actualizar{% else %}Crear{% endif %} producto</button>
        </div>
    </div>
</form>
{% endblock %}