<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% if data.title %}{{ data.title }} - {% endif %}PharmaGIIM</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="/static/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/static/fonts/fontawesome5-overrides.min.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-clinic-medical"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>Pharmagiim</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link" href="/"><i class="fas fa-tachometer-alt"></i><span>Página principal</span></a></li>
                    <li class="nav-item mt-2"><div class="nav-link text-white"><i class="text-white fa fa-users"></i><span><strong>Recursos Humanos</strong></span></div></li>
                    <li class="nav-item mt-2"><div class="nav-link text-white"><i class="text-white fas fa-prescription-bottle-alt"></i><span><strong>I+D y Producción</strong></span></div></li>
                    <li class="nav-item"><a class="nav-link" href="/proyectos"><i class="fas fa-lightbulb"></i><span>Proyectos</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/productos"><i class="fas fa-pills"></i><span>Productos</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/procesos-productivos"><i class="fas fa-dolly-flatbed"></i><span>Procesos Productivos</span></a></li>
                    <li class="nav-item mt-2"><div class="nav-link text-white"><i class="text-white fas fa-prescription-bottle-alt"></i><span><strong>I+D y Producción</strong></span></div></li>
                    <li class="nav-item mt-2"><div class="nav-link text-white"><i class="text-white fas fa-box"></i><span><strong>Almacén y Logística</strong></span></div></li>
                    <li class="nav-item mt-2"><div class="nav-link text-white"><i class="text-white fas fa-table"></i><span><strong>Contabilidad</strong></span></div></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <ul class="nav navbar-nav flex-nowrap ml-auto">
                            <li class="nav-item dropdown no-arrow mx-1">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fa fa-info-circle fa-fw"></i><span class="badge badge-danger badge-counter">!</span></a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-list dropdown-menu-right animated--grow-in">
                                        <h6 class="dropdown-header">Sobre esta práctica</h6>
                                        <div class="m-3">
                                            <p>
                                                Esta es la práctica final de <strong>Diseño y Desarrollo de Sistemas de Información</strong> (DGIIM UGR) creada por los alumnos:
                                            </p>
                                                <ul class="mb-3">
                                                    <li>Miguel Ángel Fernández Gutiérrez</li>
                                                    <li>Daniel Gonzálvez Alfert</li>
                                                    <li>Fernando de la Hoz Moreno</li>
                                                    <li>Cristina Marín Re</li>
                                                </ul>
                                            <p>
                                                Puede acceder a todo el código en nuestro repositorio de GitHub.
                                            </p>
                                        </div>
                                        <hr class="mb-0">
                                        <a class="text-center dropdown-item small text-gray-500" href="https://github.com/mianfg/pharmagiim"><i class="fab fa-github mr-2"></i>Ir a repositorio de GitHub</a>
                                    </div>
                                </div>
                                <div class="shadow dropdown-list dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown"></div>
                            </li>
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item">
                                <div class="nav-item dropdown no-arrow">
                                    <div class="dropdown-toggle nav-link">
                                        <span class="d-none d-lg-inline mr-2 text-gray-600 small">Empleado</span><img class="border rounded-circle img-profile" src="/static/img/avatars/avatar.jpeg">
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="container-fluid">
                    {% if data.error %}
                    <div id="error" class="alert alert-danger" role="alert"><i class="fa fa-warning mr-3"></i><span class="mr-2"><strong>Error:</strong></span><span id="error-text">{{ data.error }}</span></div>
                    {% else %}
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h3 class="text-dark mb-0"><strong>{{ data.breadcrumb_title | safe }}</strong>{% if data.breadcrumb_subtitle %}<i class="fa fa-caret-right ml-3 mr-3"></i>{{ data.breadcrumb_subtitle | safe }}{% endif %}</h3>
                        {% if data.breadcrumb_button %}<a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="{{ data.breadcrumb_button_url }}">{{ data.breadcrumb_button | safe }}</a>{% endif %}
                    </div>
                    {% block content %}
                    {% endblock %}
                    {% endif %}
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Universidad de Granada | Diseño y Desarrollo de Sistemas de Información | IM1 | Grupo 5</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="/static/js/theme.js"></script>
    <script src="/static/js/tools.js"></script>
    {% block additional_scripts %}
    {% endblock %}
</body>

</html>